---
import { profile } from '../../data/settings'
import SocialIcons from "./SocialIcons.astro";

const { fullName } = profile
---

<footer class='footer footer-center text-base-content px-4 py-8'>
	<aside>
		<div class="flex items-center">
			<SocialIcons />
		</div>
		<p>
			Copyright © {new Date().getFullYear()} - Tous droits réservés - {fullName}
		</p>
	</aside>
</footer>
